Body{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
li a:hover{
    background: rgb(138,203,136);
    color: black;
}
li a{
    font-size: 20px;
    color: azure;
    margin:40px;
    font-family:       Verdana,Tahoma, sans-serif;
  
}
