.footer {
    width: 100%;
    background-color: #8acb88;
    color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
  }
  
  .footer h2 {
    margin-bottom: 20px;
  }
  
  .footer-lists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-list h3 {
    margin-bottom: 10px;
  }
  
  .footer-list ul {
    padding: 0;
    list-style: none;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }
  
  .footer-list a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-list a:hover {
    color: #0077b5;
  
  .footer-list a svg {
    margin-right: 5px;
  }
  
}

.links{
    padding-left: 0.5em;
}