*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header{
    width: 100%;
    color: #8acb88;
    font-size: 50px;
    padding: 1rem;
    position: relative;
    left: 190px;
}

.header .pg-title{
    padding-left: 1.5rem;
}

.lp2,.lp3,.lp4{
    min-width: 100svw;
    min-height: 100svh;
}